*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
#nav{ 
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 30px 20px;
    gap: 150px;
    position: fixed;
    z-index: 99;
}
#cursor{
    height: 25px;
    width: 25px;
    background-color: aqua;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#nav:hover{
    background-color: black;
}
img{
    height: 60px;
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    gap: 10px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#page1 h1{
    font-size: 100px;
    font-weight: 900;
}
#page1 h2{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 10px;
}
#page1 h3{
    font-size:20px;
    font-weight: 400;
    width: 34%;
    margin: 10px 10px;
}
#page2{
    height: 100vh;
    width: 100%;


}
.marquee{
    font-size: 100px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10%;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}
.marquee:hover{
    color: #95C11E;
}
#about-us{
    height: 40vh;
    width: 70%;
    display: flex;
    padding: 0px 30px;
    margin-left: 200px;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img1{
   height: 200px;
   margin: 0px 50px;
   border-radius: 50%;
}
#card-con{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-content: center;
    gap: 70px;
}
.card{
    height: 80%;
    width: 24%;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    overflow:hidden;
    background-color: #95C11E;
    transition: all ease 0.6s;
}
#con1{
    background-image: url(images.jpg);
}
#con2{
    background-image: url(ab692c_ae1e3e258a9043dd9d4b92d6474bfe3d~mv2.avif);
}
#con3{
    background-image: url(download.jpg);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 40px;
    padding-top:100px ;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
}
.overlay:hover{
    opacity: 1;
}
.overlay p{
    color: black;
}
.card:hover{
    transform:rotate3d(-1,1,0,30deg) ;
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, red,pink);
}
#green-div h4{
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 15%;
}
#green-div img{
    height: 80%;
    padding: 0px 20px;

}
